#! /bin/bash

alias cat=bat
alias chmod="chmod -v"
alias chown="chown -v"
alias cp="cp -v"
alias df="df -H"
alias isodate="date +%Y-%m-%dT%H:%M:%S%z"
alias k=kubectl
alias ls="eza"
alias lzd="lazydocker";
alias mv="mv -v"
alias pg="uvx pgcli -D"
alias pip=pip3
alias python=python3
alias tf=terraform
alias vim=nvim

function py() {
  uvx \
      --with fastexcel \
      --with pandas \
      --with polars \
      --with pydantic \
      $@ \
      ipython
}
