*.pyc
.DS_Store
.config/AWS VPN Client/
.config/AWSVPNClient/
.config/ipython/profile_default/README
.config/ipython/profile_default/history.sqlite
.config/ipython/profile_default/startup/README
.config/pgcli/
.credentials
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.ssh/known_hosts.old
.vscode/
