[alias]
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status --short
    d = diff
    ca = !git add --all && git commit --all --verbose
    branches = branch --all
    remotes = remote --verbose

[user]
    name = Lucas Rodrigues

[core]
    excludesfile = ~/.globalgitignore

[includeIf "gitdir:~/fun/"]
    path = ~/fun/.gitconfig

[includeIf "gitdir:~/blue3/"]
    path = ~/blue3/.gitconfig

[includeIf "gitdir:~/playon/"]
    path = ~/playon/.gitconfig
