[alias]
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    s = status --short
    d = diff
    ca = !git add --all && git commit --all --verbose
    branches = branch --all
    remotes = remote --verbose

[user]
    name = Lucas Rodrigues

[core]
    excludesfile = ~/.gitignore

[init]
    defaultBranch = master

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green bold
    untracked = cyan

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

