[alias]
    l = "log --pretty=format:'%C(#cccc00)%h %Cred%ad %Creset%<(60,trunc)%s%C(auto)%d %C(magenta)%<(15,trunc)%ae' --date=format:'%Y-%m-%dT%H:%M:%S%z'"
    s = status --short
    d = diff
    ca = !git add --all && git commit --all --verbose
    branches = branch --all
    remotes = remote --verbose

[user]
    name = Lucas Rodrigues

[core]
    excludesfile = ~/.globalgitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[includeIf "gitdir:~/fun/"]
    path = ~/fun/.gitconfig

[includeIf "gitdir:~/blue3/"]
    path = ~/blue3/.gitconfig

[includeIf "gitdir:~/playon/"]
    path = ~/playon/.gitconfig
